body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.save-button {
    background-color: #CDA869;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.save-button:hover {
    background-color: #b08e57;
}

.gallery-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-item p {
    margin: 0;
    color: #030406;
}

.actions {
    display: flex;
    align-items: center;
}

.actions form {
    margin-right: 10px;
}

.actions button {
    background-color: #563621;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.actions button:hover {
    background-color: #432d19;
}

.actions label {
    margin-right: 5px;
    color: #030406;
}

.actions input[type="checkbox"] {
    margin-right: 10px;
}


.upload-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.upload-form div {
    margin-bottom: 10px;
}

.upload-form label {
    display: block;
    margin-bottom: 5px;
    color: #030406;
}

.upload-form input[type="file"],
.upload-form input[type="text"],
.upload-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.upload-form button {
    background-color: #CDA869;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.upload-form button:hover {
    background-color: #b08e57;
}
